.rui-form-element{
    width: 300px;
    margin: 20px 0;
    position: relative;
    label{
        position: absolute;
        font-size: 13px;
        margin-left: 5px;
        padding: 0 8px;
        z-index: 10;
        background: #fff;
    }
    input{
        margin-top: 10px;
        width: 100%;
        height: 30px;
        padding-left: 20px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
    }
    input:focus {
        border: 1px solid #adadad;
        box-shadow: 4px 4px 5px #ccc;
    }
    select{
        margin-top: 10px;
        width: 100%;
        height: 30px;
        padding-left: 20px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
    }
    select:focus {
        border: 1px solid #adadad;
        box-shadow: 4px 4px 5px #ccc;
    }
}
.rui-side-nav{
    width: 100%;
    .nav-logo{
        height: 50px;
    }
}
.rui-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
}
.rui-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    .rui-model-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        opacity: 0.6;
    }
    .rui-modal-content{
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        padding: 40px 50px;
        z-index: 1;
        background: #fff;
        border-radius: 5px;
        .rui-modal-text{
            width: 100%;
            display: flex;
            overflow: auto;
        }
    }
}