body{
    margin: 0;
    padding: 0;
    width: 100;
}
#root, .main-container{
    width: 100%;
    height: 100%;
}
.left-container{
    height: 100% !important;
    width: 15% !important;
    float: left;
}
.right-container{
    width: 85%;
    height: 100%;
    float: right;
}
.top-menu{
    border-radius: 0 !important;
}
.left-nav-header{
    height: 50px;
}