body{
    margin: 0;
    padding: 0;
    width: 100;
    background: #F5F5F5;
}
.mini-nav-layout{
    width: 70px;
    background: #fff;
    display: flex;
    transition-property: width;
    transition-duration: 0.5s;
    .nav-side-layout{
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        .nav-logo-layout{
            height: 50px;
            width: 100%;
            background-color: aliceblue;
        }
        .nav-logout-layout{
            height: 50px;
            width: 100%;
            margin-top: auto;
        }
        .nav-options{
            list-style: none;
            padding: 0;
            li{
                margin: 5px 0;
                padding: 10px 20px;
                cursor: pointer;
                span{
                    display: none;
                }
            }
            li:hover{
                background-color: #f7f7f7;
            }
        }
    }
}
.main-layout{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    .nav-layout{
        width: 180px;
        background: #fff;
        display: flex;
        transition-property: width;
        transition-duration: 0.5s;
        .nav-side-layout{
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            .nav-logo-layout{
                height: 50px;
                width: 100%;
                background-color: aliceblue;
            }
            .nav-logout-layout{
                height: 50px;
                width: 100%;
                margin-top: auto;
            }
            .nav-options{
                list-style: none;
                padding: 0;
                li{
                    margin: 5px 0;
                    padding: 10px 20px;
                    cursor: pointer;
                    span{
                        padding-left: 20px;
                        animation-name: text-toggle;
                        animation-duration: 0.5s;
                    }
                }
                li:hover{
                    background-color: #f7f7f7;
                }
            }
        }
    }
    .content-layout{
        flex: 1 0 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        .content-nav-layout{
            width: 100%;
            height: 60px;
        }
        .main-content-layout{
            display: flex;
            flex: 1;
            margin: 10px 20px;
            background: #fff;
        }
    }
}
custom-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #e0e0e0;
        opacity: 0.5;
        z-index: -1;
    }
    .modal-content-layout{
        width: 80%;
        height: 500px;
        padding: 20px 50px;
        background: #fff;
        .add-task-form{
            width: 100%;
            label{
                padding-right: 50px;
                width: 100px;
                display: inline-block;
            }
            input, textarea{
                width: 50%;
                border: 1.5px solid #e0e0e0;
                padding: 5px 10px;
            }
            select{
                background: #fff;
                width: 150px;
            }
        }
    }
}
.show-modal{
    display: flex;
}
.hide-modal{
    display: none;
}
.task-table-layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    .task-menu-layout{
        width: 100%;
        height: auto;
        .task-menu-container{
            display: flex;
            padding: 10px;
            .create-task-button{
                background: #4c73f6;
                padding: 8px 25px;
                border: none;
                border-radius: 20px;
                color: #fff;
                margin-left: auto;
            }
        }
    }
    .task-table-layout{
        display: flex;
        font-size: 13px;
        flex: 1;
        flex-direction: column;
        overflow: auto;
    }
    .table-header-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 50px;
        background: #fbfbfb;
        font-weight: bold;
        div{
            flex:1;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
    .table-tbody-container{
        display: flex;
        font-size: 13px;
        flex: 1;
        flex-direction: column;
        overflow: auto;
        .table-body-container{
            height: 50px;
            display: flex;
            flex: 1;
            flex-direction: row;
            min-height: 70px;
            padding: 15px 0;
            overflow: hidden;
            border: 1px solid #e0e0e0;
            animation-name: example;
            animation-duration: 1s;
            div{
                display: flex;
                flex: 1;
                justify-content: center;
                overflow: hidden;
                text-overflow: ellipsis;
                
            }
            .table-checkbox{
                border: 1px solid #e0e0e0;
                display: inline-table;
                padding: 9px;
                background: #4c73f6;
            }
        }
    }
}
.detailed-task-layout{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    
    .detailed-task-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 20px;
        }
        .detailed-task-content-layout{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex: 1 0 0;
            .content-layout{
                flex: 1;
            }
            .recent-activity-layout{
                width: 20%;
                margin-left: auto;
            }
        }
    }
}
.issue-indicator{
    padding: 5px 20px;
    border-radius: 20px;
    background: #d3e9ff;
    border: 1px solid #55a7f8;
    display: inline-table;
}
.to-do{
    background: #d3e9ff;
    border: 1px solid #55a7f8;
}
.in-development{
    background: #ffe5b2;
    border: 1px solid #f7bc45;
}
.dev-completed{
    background: #c9beff;
    border: 1px solid #8f7ee5;
}
.re-open{
    background: #ffa19e;
    border: 1px solid #ed3833;
}

@keyframes example {
    from {
        opacity: 0;
        margin-top: -40px
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes text-toggle {
    from {
        opacity: 0;
        margin-left: -20px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}